In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

Lets read data from github csv file

In [12]:
import requests
from io import StringIO #convert the response text into a file-like object that can be read by pd.read_csv()

In [14]:
raw_link = 'https://raw.githubusercontent.com/VinodK981998/Learn-ML/main/5%20-%20Decision%20Tree/salaries.csv'
response = requests.get(raw_link)
print(response.text)
csv_data = StringIO(response.text)
df = pd.read_csv(csv_data) #converting to dataframe
df

company,job,degree,salary_more_then_100k
google,sales executive,bachelors,0
google,sales executive,masters,0
google,business manager,bachelors,1
google,business manager,masters,1
google,computer programmer,bachelors,0
google,computer programmer,masters,1
abc pharma,sales executive,masters,0
abc pharma,computer programmer,bachelors,0
abc pharma,business manager,bachelors,0
abc pharma,business manager,masters,1
facebook,sales executive,bachelors,1
facebook,sales executive,masters,1
facebook,business manager,bachelors,1
facebook,business manager,masters,1
facebook,computer programmer,bachelors,1
facebook,computer programmer,masters,1

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [16]:
Inputs = df.drop('salary_more_then_100k',axis = 1)
Target = df['salary_more_then_100k']

In [18]:
le = LabelEncoder()

In [25]:
Inputs['company'] = le.fit_transform(Inputs['company'])
Inputs['job'] = le.fit_transform(Inputs['job'])
Inputs['degree'] = le.fit_transform(Inputs['degree'])

In [42]:
 X_train, X_test, y_train, y_test = train_test_split(Inputs,Target, test_size = 0.1)

In [43]:
model = DecisionTreeClassifier()

In [44]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [45]:
model.score(X_test,y_test)

0.5

In [46]:
print(model.predict(X_test),' ', y_test)

[1 1]   8     0
10    1
Name: salary_more_then_100k, dtype: int64

In [47]:
Inputs.iloc[4]

company    2
job        1
degree     0
Name: 4, dtype: int64

In [48]:
Target.iloc[4]

0

In [41]:
model.predict([[2,1,0]])

C:\Users\vinod\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)