In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import requests
from io import StringIO

In [6]:
raw_link = 'https://raw.githubusercontent.com/VinodK981998/Learn-ML/main/5%20-%20Decision%20Tree/titanic.csv'
git_in = requests.get(raw_link)
if git_in.status_code == 200:
    df = pd.read_csv(StringIO(git_in.text))
else: 
    print('Error while fetching')

In [18]:
#df.iloc[:,[2,4,5,9]]
Inputs = df[['Pclass','Sex','Age','Fare']]
Target = df['Survived']
le = LabelEncoder()
Inputs['Sex'] = le.fit_transform(Inputs['Sex'])
Inputs['Age'] = Inputs['Age'].fillna(np.nanmedian(Inputs['Age']))

C:\Users\vinod\AppData\Local\Temp\ipykernel_12228\70537239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Inputs['Sex'] = le.fit_transform(Inputs['Sex'])

In [37]:
model = DecisionTreeClassifier()
model.fit(Inputs,Target)
model.score(Inputs,Target)

0.9775533108866442

In [39]:
X_train, X_test, y_train, y_test = train_test_split(Inputs,Target,test_size=0.2)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7597765363128491

C:\Users\vinod\AppData\Local\Temp\ipykernel_12228\2226840729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Inputs['Age'] = Inputs['Age'].fillna(np.nanmedian(Inputs['Age']))

In [36]:
Inputs

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0  28.0  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]